@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 10;
  padding: 0;
  background-color: #eff3f7;
  font-family: 'Staatliches', cursive;
  height: 100%;
}
